:root {
  --text-blue: #5b9bd5;
  --background-gray: #e6f3ff;
}

.bg-tb {
  background-color: var(--text-blue);
}

.bg-bg {
  background-color: var(--background-gray);
}

.panel-shadow-light {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.panel-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
