:root {
  --blue: #5b9bd5;
  --light-blue: #d8e9fd;
  --panel-gray: #e6f3ff;
  --medium-blue: #afcae6;
  --background-gray: #2c2c2c;
  --background-gray-darker: #1e1e1e;
  --light-white: #f8f9fa;
}

.text-blue {
  color: var(--blue);
}

.text-gray {
  color: var(--background-gray);
}

.text-light-blue {
  color: var(--light-blue);
}

.text-light-white {
  color: var(--light-white);
}

.text-medium-blue {
  color: var(--medium-blue);
}

.bg-db {
  background-color: var(--light-blue);
}

.bg-lw {
  background-color: var(--light-white);
}

.bg-tb {
  background-color: var(--blue);
}

.bg-pg {
  background-color: var(--panel-gray);
}

.bg-bg {
  background-color: var(--background-gray);
}

.panel-shadow-light {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.panel-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
