:root {
  --blue: #5b9bd5;
  --light-blue: #81c3ff;
  --purple: #8196ff;
  --light-cream: #d8e9fd;
  --panel-gray: #e6f3ff;
  --panel-dark-gray: #2d3038;
  --panel-darker-gray: #191f26;
  --medium-blue: #afcae6;
  --lighter-gray: #6c84a2;
  --background-gray: #20232a;
  --background-gray-darker: #1d1e24;
  --background-gray-darkest: #16171b;
  --light-white: #f8f9fa;
}

.fs-7 {
  font-size: 15px;
}

.fs-8 {
  font-size: 12px;
}

.fs-9 {
  font-size: 10px;
}

.text-blue {
  color: var(--blue);
}

.text-gray {
  color: var(--background-gray);
}

.text-darker-gray {
  color: var(--background-gray-darker);
}

.text-light-cream {
  color: var(--light-cream);
}

.text-light-white {
  color: var(--light-white);
}

.text-lighter-gray {
  color: var(--lighter-gray);
}

.text-medium-blue {
  color: var(--medium-blue);
}

.text-purple {
  color: var(--purple);
}

.panel-outline {
  border: var(--light-white) 3px solid;
}

.bg-p {
  background-color: var(--purple);
}

.bg-lg {
  background-color: var(--lighter-gray);
}

.bg-lc {
  background-color: var(--light-cream);
}

.bg-lw {
  background-color: var(--light-white);
}

.bg-tb {
  background-color: var(--blue);
}

.bg-pg {
  background-color: var(--panel-gray);
}

.bg-pdg {
  background-color: var(--panel-dark-gray);
}

.bg-pdrg {
  background-color: var(--panel-darker-gray);
}

.bg-bg {
  background-color: var(--background-gray);
}

.bg-bdg {
  background-color: var(--background-gray-darker);
}

.bg-bdsg {
  background-color: var(--background-gray-darkest);
}

.br-bdg {
  border: 6px solid var(--background-gray-darker);
}

.panel-shadow-light {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.panel-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.gradient {
  background: hsla(230, 100%, 75%, 1);

  background: linear-gradient(225deg, hsla(230, 100%, 75%, 1) 0%, hsla(209, 59%, 60%, 1) 100%);

  background: -moz-linear-gradient(225deg, hsla(230, 100%, 75%, 1) 0%, hsla(209, 59%, 60%, 1) 100%);

  background: -webkit-linear-gradient(225deg, hsla(230, 100%, 75%, 1) 0%, hsla(209, 59%, 60%, 1) 100%);
}
