/* -------------- ⌄CHATS⌄ -------------- */
#chat {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  max-height: 80vh;
}

#chats {
  list-style-type: none;
  flex-direction: row;
  display: flex;
  overflow-x: scroll;
  max-width: 800px;
}

#chats li {
  padding: 5px 5px;
}

#chat li:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.2);
}

#chat li:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}

.topContainer {
  display: flex;
  flex-direction: row;
}
/* -------------- ^CHATS^ -------------- */
